### Hannah Garrett
#### CS150-01
#### Programming Assignment 4

### Part A

In [132]:
translate={"dog" : "perro",
          "cat" : "gato",
          "star" : "estrella",
          "cookie" : "galleta",
          "blue" : "azul",
           "hello": "hola",
           "goodbye": "adios",
           "yes" : "si",
           "love" : "amor",
           "red" : "rojo",
           "girl" : "chica",
           "family" : "familia",
           "man" : "hombre",
           "woman" : "mujer", 
           "sun" : "sol",
           "moon" : "luna",
           "hot" : "caliente",
           "snow" : "nieve",
           "cold" : "frio",
           "friend" : "amigo"
           
          }
translate

{'dog': 'perro',
 'cat': 'gato',
 'star': 'estrella',
 'cookie': 'galleta',
 'blue': 'azul',
 'hello': 'hola',
 'goodbye': 'adios',
 'yes': 'si',
 'love': 'amor',
 'red': 'rojo',
 'girl': 'chica',
 'family': 'familia',
 'man': 'hombre',
 'woman': 'mujer',
 'sun': 'sol',
 'moon': 'luna',
 'hot': 'caliente',
 'snow': 'nieve',
 'cold': 'frio',
 'friend': 'amigo'}

In [133]:
translate.items()

dict_items([('dog', 'perro'), ('cat', 'gato'), ('star', 'estrella'), ('cookie', 'galleta'), ('blue', 'azul'), ('hello', 'hola'), ('goodbye', 'adios'), ('yes', 'si'), ('love', 'amor'), ('red', 'rojo'), ('girl', 'chica'), ('family', 'familia'), ('man', 'hombre'), ('woman', 'mujer'), ('sun', 'sol'), ('moon', 'luna'), ('hot', 'caliente'), ('snow', 'nieve'), ('cold', 'frio'), ('friend', 'amigo')])

In [137]:
prompt="Enter a word to translate from English to Spanish. (enter 0 to quit): "
active = True
while active:
    word=input(prompt)
    if word=="0":
        break
    elif word:
        print("The spanish word for ", word, " is ", translate.get(word).upper())
    else:
        print("This word is not in this dictionary")

Enter a word to translate from English to Spanish. (enter 0 to quit): dog
The spanish word for  dog  is  PERRO
Enter a word to translate from English to Spanish. (enter 0 to quit): cat
The spanish word for  cat  is  GATO
Enter a word to translate from English to Spanish. (enter 0 to quit): love
The spanish word for  love  is  AMOR
Enter a word to translate from English to Spanish. (enter 0 to quit): 0

### Part B

In [146]:
weather={"September 1" : 74,
        "September 2" : 79,
        "September 3" : 83,
        "September 4" : 65,
        "September 5" : 70}
weather

{'September 1': 74,
 'September 2': 79,
 'September 3': 83,
 'September 4': 65,
 'September 5': 70}

In [151]:
weather.update({"September 1" : (74-32)*5/9,
               "September 2" : (79-32)*5/9,
               "September 3" : (83-32)*5/9,
               "September 4" : (65-32)*5/9,
               "September 5" : (70-32)*5/9})

In [152]:
weather

{'September 1': 23.333333333333332,
 'September 2': 26.11111111111111,
 'September 3': 28.333333333333332,
 'September 4': 18.333333333333332,
 'September 5': 21.11111111111111}

### Part C

In [168]:
square={1 : 1,
        2 : 2,
        3 : 3, 
        4 : 4, 
        5 : 5, 
        6 : 6,
        7 : 7,
        8 : 8,
        9 : 9,
        10 : 10,
        11 : 11,
        12 :12, 
        13 : 13,
        14 : 14,
        15 : 15}
square

{1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 10,
 11: 11,
 12: 12,
 13: 13,
 14: 14,
 15: 15}

In [169]:
for x in square:
    print({x : x**2})

{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}
{9: 81}
{10: 100}
{11: 121}
{12: 144}
{13: 169}
{14: 196}
{15: 225}